body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

img {
  width: 250px;
  transition: 0.3s;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background: purple;
  color: white;
  border: none;
  cursor: pointer;
}
#barrel {
  width: 300px;
  transition: all 0.3s ease;
}
