body {
  background: radial-gradient(circle at center, #0f0026, #000);
  overflow: hidden;
}

/* étoiles */
body::after {
  content: "";
  position: fixed;
  width: 200%;
  height: 200%;
  background: url("https://www.transparenttextures.com/patterns/stardust.png");
  opacity: 0.3;
  animation: moveStars 60s linear infinite;
}

@keyframes moveStars {
  from { transform: translate(0,0); }
  to { transform: translate(-500px, -500px); }
}
