body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* carte */
.card {
  position: relative;
}

/* image principale */
#barrel {
  width: 300px;
  border-radius: 20px;
  animation: glitch 0.3s infinite;
}

/* effet glitch */
@keyframes glitch {
  0% {
    transform: translate(0);
    filter: drop-shadow(2px 0 red) drop-shadow(-2px 0 cyan);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(2px, -2px);
  }
  60% {
    transform: translate(-2px, -2px);
  }
  80% {
    transform: translate(2px, 2px);
  }
  100% {
    transform: translate(0);
    filter: drop-shadow(-2px 0 red) drop-shadow(2px 0 cyan);
  }
}
